DJANGO_ENV=development
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1]
POSTGRES_DB=equaltrip_db
POSTGRES_USER=trip_user
POSTGRES_PASSWORD=trip_password
FRONTEND_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:8000
VITE_YMAPS_API_KEY=
OPENEXCHANGERATES_API_KEY=
YANDEX_SMTP_USER=
YANDEX_SMTP_FROM=
YANDEX_SMTP_PASSWORD=
